@import 'colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 68px;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	background-color: #fffaf0;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
}

.active {
	color: $third !important;
}

.shadow {
	background-color: rgba(0, 0, 0, 0.65);
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5;
	width: 100%;
	height: 100%;
}

.hamburger-container {
	display: none;
	position: absolute;
	right: 3%;
	top: 15px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	z-index: 50;
}
.stick,
.stick::before,
.stick::after {
	position: absolute;
	width: 40px;
	height: 4px;
	background-color: white;
	top: 50%;
	transition: all 0.4s;
	transform-origin: 50% 50%;
	border-radius: 3px;
}

.stick::before {
	position: absolute;
	content: '';
	top: -13px;
	left: 0;
}

.stick::after {
	position: absolute;
	content: '';
	top: 13px;
	left: 0;
}

.stick.trigger {
	transform: rotate(-270deg);
	&::after {
		transform-origin: 100% 50%;
		transform: translateY(-14px) rotate(-45deg) scaleX(0.7);
	}

	&::before {
		transform-origin: 100% 50%;
		transform: translateY(14px) rotate(45deg) scaleX(0.7);
	}
}

nav {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 50;
	height: 70px;
	transition: background-color 0.4s;

	.mobile-nav {
		position: absolute;
		height: 300px;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.85);
		transition: opacity 0.4s, transform 0.6s;
		transform: translateY(-105%);
		opacity: 0;

		.mobile-link-box {
			padding-top: 4.5em;
			padding-left: 2em;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-around;
			transition: opacity 1s;
			opacity: 0;

			.mobile-link {
				text-decoration: none;
				color: white;
				text-transform: uppercase;
				font-size: 2rem;
			}
		}
	}

	.desktop-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-transform: uppercase;
		padding: 0.8em 0;
		color: white;

		.logo-box {
			padding: 0 0.4em;
			margin: 0 0.5em;
			font-size: 3.5rem;
			font-weight: 500;
			z-index: 150;
			a {
				text-decoration: none;
				color: white;
				transition: color 0.4s;
				letter-spacing: 3px;

				&:hover {
					color: $third;
				}
			}
		}

		.desktop-link-box {
			.desktop-link {
				padding: 0 0.3em;
				margin: 0 0.5em;
				font-size: 2rem;
				text-decoration: none;
				color: white;
				transition: color 0.4s;
				letter-spacing: 1px;
				&:hover {
					color: $third;
				}
			}
		}
	}
}

header {
	position: relative;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('../img/headerhero_large.jpg');
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	color: white;
	z-index: 0;

	.header-text {
		font-size: 6rem;
		letter-spacing: 3px;
		text-transform: uppercase;
		font-weight: 500;
	}

	h3 {
		font-size: 4rem;
		margin: 1em 0;
		font-weight: 400;
	}

	.header-btn {
		background: none;
		padding: 0.8em 1.2em;
		color: white;
		border-radius: 5px;
		border: 1px solid white;
		text-transform: uppercase;
		cursor: pointer;
		transition: color 0.4s, background-color 0.4s;
		&:hover {
			background-color: white;
			color: black;
		}
	}
}

h2 {
	padding-top: 1em;
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
}

.underline {
	margin: 0 auto 40px;
	width: 70px;
	height: 3px;
	background-color: rgb(229, 190, 140);
}

.aboutus {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0 2em 2em 2em;
	letter-spacing: 1px;
	background-color: #fffaf0;

	h3 {
		padding: 1em 0em;
		font-size: 2.5rem;
		font-weight: 400;
		text-transform: uppercase;
	}

	hr {
		margin: 1em 0;
	}

	p {
		padding: 1em 0;
		font-size: 2rem;
		line-height: 1.8;
	}
}

.offer {
	background-color: #fffaf0;
	text-align: center;
	width: 100%;

	.offer-box {
		padding: 2em 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.text-container {
		padding: 0 1em;
		width: 50%;

		h3 {
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 1px;
			font-size: 2.2rem;
		}
		hr {
			margin: 2em 0;
		}

		p {
			padding: 1em 0;
			font-size: 2.2rem;
			letter-spacing: 1px;
		}
	}

	.img-container {
		padding: 0 1em;
		width: 50%;
		img {
			height: 550px;
			width: 100%;
			border-radius: 5px;
			border: 1px solid black;
			object-fit: cover;
		}
	}

	p {
		padding-top: 1em;
		font-size: 2.2rem;
	}

	.offer-btn {
		margin: 2em 0em;
		padding: 0.8em 1.2em;
		margin-bottom: 2em;
		background: none;
		color: rgb(0, 0, 0);
		border-radius: 5px;
		border: 1px solid rgb(0, 0, 0);
		text-transform: uppercase;
		cursor: pointer;
		transition: color 0.4s, background-color 0.4s;
		&:hover {
			background-color: rgb(0, 0, 0);
			color: rgb(255, 255, 255);
		}
	}
}

.realizations {
	padding: 1em 0 3em 0;
	text-align: center;
	background-color: #fffaf0;
	.carousel-container {
		width: 95%;
		margin: 10px auto;
		.carousel {
			position: relative;
			height: 75vh;
			overflow: hidden;
			.slider {
				display: flex;
				height: 100%;
				width: 600%;
				transition: all 0.5s;
				.section {
					position: relative;
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-self: center;
					flex-basis: 100%;
				}

				.carousel-shadow {
					position: absolute;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: rgba(0, 0, 0, 0.7);
					width: 90%;
					height: 18%;
					bottom: 2%;
				}

				.section-text {
					color: white;
					.link {
						text-decoration: none;
						color: white;
						position: absolute;
						bottom: 5%;
						right: 2%;
					}
				}

				.one {
					background-size: cover;
					background-position: center;
					background-image: url('../img/example_foto1.jpg');
				}
				.second {
					background-size: cover;
					background-position: center;
					background-image: url('../img/example_foto2.jpg');
				}
				.third {
					background-size: cover;
					background-position: center;
					background-image: url('../img/example_foto3.jpg');
				}
				.fourth {
					background-size: cover;
					background-position: center;
					background-image: url('../img/example_foto4.jpg');
				}
				.fifth {
					background-size: cover;
					background-position: center;
					background-image: url('../img/example_foto5.jpg');
				}
				.fourth {
					background-size: cover;
					background-position: center;
					background-image: url('../img/example_foto1.jpg');
				}
			}
			.controls {
				.arrow {
					position: absolute;
					top: 46%;
					font-size: 5rem;
					transition: transform 0.3s;
					cursor: pointer;
					color: white;
					text-shadow: 1px 1px 3px black;
				}
				.arrow:hover {
					transform: scale(0.8);
				}

				.prev {
					left: 0.5%;
				}
				.next {
					right: 0.5%;
				}

				.list {
					display: flex;
					position: absolute;
					bottom: 20px;
					left: 50%;
					margin: 0;
					padding: 0;
					transform: translate(-50%);
					list-style: none;
					li {
						width: 12px;
						height: 12px;
						margin: 5px;
						border: 2px solid rgb(255, 255, 255);
						border-radius: 50%;
						background-color: rgb(255, 255, 255);
						cursor: pointer;
					}
					li.selected {
						background-color: transparent;
					}
				}
			}
		}
	}
}

.contact {
	position: relative;
	padding: 1em 0;
	text-align: center;
	background-image: url('../img/contact_background.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
	color: white;
	.shadow {
		background-color: rgba(0, 0, 0, 0.85);
	}

	.contact-container {
		display: flex;
		justify-content: space-around;
		padding: 1em 0;

		.contact-text {
			p {
				padding: 0.8em 0;
				font-size: 2.8rem;
			}
			a {
				text-decoration: none;
				color: white;
				font-size: 4rem;
				i {
					margin-top: 0.3em;
					padding: 0.2em;
					transition: transform 0.4s, color 0.4s;
					&:hover {
						color: #f7e8cd;
						transform: scale(1.05);
					}
				}
			}
		}

		.contact-form {
			padding-top: 1em;
			display: flex;
			flex-direction: column;
			row-gap: 1.5rem;

			input {
				padding: 0.8em;
				background: none;
				border: 1px solid white;
				color: white;
				font-size: 1.6rem;
				// border-radius: 5px;
				&:focus {
					outline: none;
					border: 2px solid white;
				}
			}

			.form-email-phone {
				display: flex;
				gap: 1.5rem;
			}

			textarea {
				padding: 1em;
				background: none;
				border: 1px solid white;
				color: white;
				max-width: 600px;
				max-height: 800px;
				font-size: 1.6rem;
				// border-radius: 5px;
				&:focus {
					outline: none;
					border: 2px solid white;
				}
			}

			.form-btn {
				width: 20%;
				align-self: center;
				background: none;
				padding: 0.8em 1.2em;
				color: white;
				// border-radius: 5px;
				border: 1px solid white;
				text-transform: uppercase;
				cursor: pointer;
				transition: color 0.4s, background-color 0.4s;

				&:hover {
					background-color: white;
					color: black;
				}
			}
		}
	}

	.map-container {
		width: 100%;
		iframe {
			width: 80%;
		}
	}
}

footer {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	background-color: black;
	color: $white;
	font-size: 1.8rem;
	padding: 1em 0;

	.middle {
		padding: 0 0.4em;
	}

	.logo {
		margin-top: 0.3em;
		font-size: 1.3rem;
	}

	img {
		padding-left: 0.4em;
		height: 24px;
	}
	a {
		padding-top: 0.4em;
	}
}

// MEDIA

@media (max-width: 992px) {
	nav {
		.hamburger-container {
			display: block;
		}

		.logo-box {
			position: absolute;
			top: 0.4em;
		}
		.desktop-link-box {
			display: none;
		}
	}
}

@media (max-width: 770px) {
	html {
		font-size: 60%;
	}

	.contact .contact-container {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		padding: 1em 0;
	}

	.contact .contact-text {
		margin-top: 3em;
	}

	.contact .contact-container .contact-form {
		padding-top: 1em;
		display: flex;
		flex-direction: column;
		row-gap: 1.5rem;
	}

	.contact .map-container {
		margin-top: 1em;
		width: 100%;
	}

	.realizations .carousel-container {
		width: 100%;
	}

	.offer .text-container h3 {
		font-size: 2rem;
	}
	.offer .text-container p {
		font-size: 2rem;
	}
}

@media (max-width: 480px) {
	html {
		font-size: 45%;
	}

	.realizations .carousel-container .carousel .controls .list {
		display: none;
	}

	.contact .contact-container .contact-form .form-btn {
		width: 24%;
		align-self: center;
		background: none;
		font-size: 1.6rem;
		
	}

	header .header-text {
		font-size: 5.5rem;
	}

	.offer .img-container {
		display: none;
	}

	.offer .text-container {
		padding: 0 1.2em;
		width: 100%;
	}

	nav .mobile-nav .mobile-link-box .mobile-link {
		font-size: 2.4rem;
	}

	.hamburger-container {
		right: 7%;
		top: 15px;
		
	}

	nav .desktop-nav .logo-box {
		padding: 0.4em .4em;
		font-size: 3.8rem;
	}

	nav .mobile-nav .mobile-link-box {
		padding-top: 5.5em;
	}

}